.navbar{
    margin-bottom: 0!important;
}
.jumbotron{
    background: url("../images/background.jpg") center center no-repeat;
    background-size:cover;
    height: auto;

}

.jumbotron div{
    margin-left: 8%;
}

.jumbotron div #jh1,#jp {
    color: #fff;
}

